---

---

<header class="relative top-0 w-full bg-violet-200 text-neutral-900 p-6 lg:flex lg:justify-between items-center">

  <nav class="font-semibold gap-18">
    <a href="/">Accueil</a>
    <a href="../../offres">Offres</a>
    <a href="../../agents">Agents</a>
  </nav>
</header>
