---
import Base from "../../layout/Base.astro";
import Card from "../../components/Card.astro";
import { AllMaisons } from "../../backend.mjs";

const offres = await AllMaisons();
---

<Base titre="Offres">
  <div x-data="{ showFavorites: false }">
    <button
      @click="showFavorites = !showFavorites"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded p-4 m-4"
    >
      <span x-show="!showFavorites">Afficher les favoris</span>
      <span x-show="showFavorites">Afficher tout</span>
    </button>

    <div x-show="!showFavorites" class="grid grid-cols-3 gap-4">
      {offres.map((offre) => <Card {...offre} />)}
    </div>
    <div
      x-show="showFavorites"
      class="grid grid-cols-3 gap-4"
      x-transition:enter="transition ease-out duration-300 transform"
      x-transition:enter-start="opacity-0 scale-90"
      x-transition:enter-end="opacity 100 scale-100"
    >
      {offres.map((offre) => offre.favori && <Card {...offre} />)}
    </div>
    <div class="lg:flex lg:justify-center lg:gap-10 p-4">
      <div class="lg:flex lg:justify-center lg:gap-10 bg-slate-200 p-4 text-xl">
        <a href="/offres">Offres maisons</a>
      </div>
      <div class="lg:flex lg:justify-center lg:gap-10 bg-slate-200 p-4 text-xl">
        <a href={`/offres/surface/${80}`}>Trier par surface</a>
      </div>
      <div class="lg:flex lg:justify-center lg:gap-10 bg-slate-200 p-4 text-xl">
        <a href={`/offres/prix/${5000}`}>Trier par prix</a>
      </div>
      <div class="lg:flex lg:justify-center lg:gap-10 bg-slate-200 p-4 text-xl">
        <a href={`/offres/add`}>Ajouter une maison</a>
      </div>
    </div>
  </div>
  <Card />
</Base>
