---
import { bySurface } from '../../../backend.mjs';
import Base from '../../../layout/Base.astro';
import Card from '../../../components/Card.astro';

const {surface} = Astro.params;
const offres = await bySurface(surface);
if (!offres) {
  return Astro.redirect("/offres");
}
---
<Base>
    <h1>Offres pour {surface} m2</h1>
    <div class="lg:grid lg:grid-cols-3 lg:gap-4">
        {
        offres.map((offre) => (
        <div>
            <ul>
                <Card {...offre} />
            </ul>
        </div>
        ))
        }
        
</Base>
